@import "tailwindcss";

@theme {
    --font-family-sans: var(--font-montserrat), sans-serif;
}

:root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-montserrat);
    --font-protest: var(--font-protest-guerilla);

    --color-sharp-red-50: #fef2f2;
    --color-sharp-red-100: #fee2e2;
    --color-sharp-red-200: #fecaca;
    --color-sharp-red-300: #fca5a5;
    --color-sharp-red-400: #f87171;
    --color-sharp-red-500: #ff0000;
    --color-sharp-red-600: #dc2626;
    --color-sharp-red-700: #b91c1c;
    --color-sharp-red-800: #991b1b;
    --color-sharp-red-900: #7f1d1d;
    --color-sharp-red-950: #450a0a;
}